<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magicfence.healthfiles">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RepViewActivity"></activity>
        <activity android:name=".PresViewActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".PrescriptionsActivity" />
        <activity android:name=".AddRepActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddPrescActivity" />
        <activity android:name=".DoctorViewActivity" />
        <activity android:name=".VerifyDoctorActivity" />
        <activity android:name=".MyQRActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>